body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.app-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003366; /* Biru 007 Metallic */
    color: white; /* Tulisan jadi putih */
    padding: 10px;
    border-bottom: 3px solid #FFD700; /* Garis Emas */
    position: relative;
    font-weight: bold;
}
.app-head h1 {
    margin: 0;
    font-size: 20px;
    color: #FFD700; /* Market Pi tetap kuning emas */
}
.logo-head {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #FFD700;
    cursor: pointer;
}

#login-info {
    background: #003366;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
